In [2]:
import pandas as pd

In [7]:
df1 = pd.read_csv("../../data/titanic 1.csv")
df2 = pd.read_csv("../../data/titanic 2.csv")

**1. Mostrar las estadisticas de cada uno de los dataframe**

In [4]:
df1

,PassengerId,Name,Sex,Age
0,1,"Braund, Mr. Owen Harris",male,22.0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0
2,3,"Heikkinen, Miss. Laina",female,26.0
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0
4,5,"Allen, Mr. William Henry",male,35.0
...,...,...,...,...
886,887,"Montvila, Rev. Juozas",male,27.0
887,888,"Graham, Miss. Margaret Edith",female,19.0
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN
889,890,"Behr, Mr. Karl Howell",male,26.0
890,891,"Dooley, Mr. Patrick",male,32.0

In [40]:
df2

     PassengerId  Survived  Pclass            Ticket     Fare
0              1         0       3         A/5 21171   7.2500
1              2         1       1          PC 17599  71.2833
2              3         1       3  STON/O2. 3101282   7.9250
3              4         1       1            113803  53.1000
4              5         0       3            373450   8.0500
..           ...       ...     ...               ...      ...
886          887         0       2            211536  13.0000
887          888         1       1            112053  30.0000
888          889         0       3        W./C. 6607  23.4500
889          890         1       1            111369  30.0000
890          891         0       3            370376   7.7500

[891 rows x 5 columns]

**1. Unir los dataframe para obtener solo uno**

In [103]:
df = pd.concat([df1, df2], axis=1)
df

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,3,A/5 21171,7.2500
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,2,1,1,PC 17599,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,3,1,3,STON/O2. 3101282,7.9250
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,4,1,1,113803,53.1000
4,5,"Allen, Mr. William Henry",male,35.0,5,0,3,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",male,27.0,887,0,2,211536,13.0000
887,888,"Graham, Miss. Margaret Edith",female,19.0,888,1,1,112053,30.0000
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,889,0,3,W./C. 6607,23.4500
889,890,"Behr, Mr. Karl Howell",male,26.0,890,1,1,111369,30.0000
890,891,"Dooley, Mr. Patrick",male,32.0,891,0,3,370376,7.7500

**2. Imprimir las últimas 5 filas de las columnas de nombre y edad**

In [104]:
df.loc[:, ['Name', 'Age']].tail(5)

                                         Name   Age
886                     Montvila, Rev. Juozas  27.0
887              Graham, Miss. Margaret Edith  19.0
888  Johnston, Miss. Catherine Helen "Carrie"   NaN
889                     Behr, Mr. Karl Howell  26.0
890                       Dooley, Mr. Patrick  32.0

**3. Imprimir las primeras 10 filas de las instancias que en sexo sean igual a femenino**

In [43]:
df.loc[df['Sex'] == 'female'].head(5)

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,2,1,1,PC 17599,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,3,1,3,STON/O2. 3101282,7.9250
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,4,1,1,113803,53.1000
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,9,1,3,347742,11.1333
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,10,1,2,237736,30.0708

**4. Imprimir las instancias que en la columna Fare sean menor a 33 y en la columna Pclass igual a 2**

In [44]:
df_fare_pclass= df.loc[ (df['Fare'] < 33) & (df['Pclass'] == 2)]
df_fare_pclass

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,10,1,2,237736,30.0708
15,16,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,16,1,2,248706,16.0000
17,18,"Williams, Mr. Charles Eugene",male,NaN,18,1,2,244373,13.0000
20,21,"Fynney, Mr. Joseph J",male,35.0,21,0,2,239865,26.0000
21,22,"Beesley, Mr. Lawrence",male,34.0,22,1,2,248698,13.0000
...,...,...,...,...,...,...,...,...,...
866,867,"Duran y More, Miss. Asuncion",female,27.0,867,1,2,SC/PARIS 2149,13.8583
874,875,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,875,1,2,P/PP 3381,24.0000
880,881,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,881,1,2,230433,26.0000
883,884,"Banfield, Mr. Frederick James",male,28.0,884,0,2,C.A./SOTON 34068,10.5000
886,887,"Montvila, Rev. Juozas",male,27.0,887,0,2,211536,13.0000

**5. Del resultado anterior obten el número de hombres y el número de mujeres**

In [50]:
#df_fare_pclass_hombre = len(df_fare_pclass.loc[df_fare_pclass['Sex'] == 'men'])
#df_fare_pclass_mujer = len(df_fare_pclass.loc[df_fare_pclass['Sex'] == 'female'])
#print(df_fare_pclass_hombre)
#print(df_fare_pclass_mujer)
df.groupby('Sex')['Fare'].count()

Sex
female    314
male      577
Name: Fare, dtype: int64

**6. Obten el costo total de los tickets de hombres y el costo total de los tickets de mujeres**

In [49]:
df.groupby('Sex')['Fare'].sum()

Sex
female    13966.6628
male      14727.2865
Name: Fare, dtype: float64

**7. Obten el costo total de los tickets por cada clase (1, 2 y 3) y el número de pasajeros de cada clase**

In [95]:
class_stats = df.groupby('Pclass').agg(
    total_fare=('Fare', 'sum'),
    passenger_count=('PassengerId', 'count')
)  

print(class_stats)

AttributeError: 'DataFrame' object has no attribute 'name'

**8. Crear una columna con el apellido de cada pasajero y agregala al dataframe**

In [105]:
df['last name'] = df['Name'].apply(lambda x: x.split(',')[0])
df

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare,last name
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,3,A/5 21171,7.2500,Braund
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,2,1,1,PC 17599,71.2833,Cumings
2,3,"Heikkinen, Miss. Laina",female,26.0,3,1,3,STON/O2. 3101282,7.9250,Heikkinen
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,4,1,1,113803,53.1000,Futrelle
4,5,"Allen, Mr. William Henry",male,35.0,5,0,3,373450,8.0500,Allen
...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",male,27.0,887,0,2,211536,13.0000,Montvila
887,888,"Graham, Miss. Margaret Edith",female,19.0,888,1,1,112053,30.0000,Graham
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,889,0,3,W./C. 6607,23.4500,Johnston
889,890,"Behr, Mr. Karl Howell",male,26.0,890,1,1,111369,30.0000,Behr
890,891,"Dooley, Mr. Patrick",male,32.0,891,0,3,370376,7.7500,Dooley

**9. Encuentra si se repiten apellidos en la columna que se creo en el ejercicio anterior**

In [106]:
duplicate_last_names = df[df.duplicated('last name', keep=False)]['last name'].unique()
duplicate_last_names

array(['Braund', 'Futrelle', 'Allen', 'Moran', 'Palsson', 'Johnson',
       'Nasser', 'Sandstrom', 'Andersson', 'Rice', 'Williams',
       'Vander Planke', 'Asplund', 'Fortune', 'Meyer', 'Holverson',
       'Nicola-Yarred', 'Turpin', 'Laroche', 'Arnold-Franchi', 'Panula',
       'Harper', 'West', 'Goodwin', 'Harris', 'Skoog', 'Moubarek',
       'Caldwell', 'Backstrom', 'Ford', 'Dean', 'Doling', 'Kantor',
       'Petroff', 'White', 'Johansson', 'Gustafsson', 'Zabour', 'Jussila',
       'Attalah', 'Baxter', 'Hickman', 'Webber', 'Peter', 'Boulos',
       'Hakkarainen', 'Navratil', 'Pears', 'Olsen', 'Sage', 'Calic',
       'Goldsmith', 'Smith', 'Lefebre', 'Becker', "O'Brien", 'Bourke',
       'Brown', 'Strom', 'Ali', 'Newell', 'Jacobsohn', 'Hoyt', 'Larsson',
       'Collyer', 'Murphy', 'Minahan', 'Hamalainen', 'Beckwith', 'Carter',
       'Lobb', 'Rosblom', 'Taussig', 'Graham', 'Mellinger', 'Andrews',
       'Abbott', 'Olsson', 'Bishop', 'Allison', 'Kelly', 'McCoy', 'Keane',
       'Penasco y Castellana', 'Abelson', 'Hays', 'Ryerson', 'Hart',
       'Wick', 'Hippach', 'Frauenthal', 'Coutts', 'Elias', 'Barbara',
       'Nakid', 'Davies', 'Oreskovic', 'Richards', 'Van Impe', 'Danbom',
       'Flynn', 'Thorneycroft', 'Silvey', 'Baclini', 'Hagland',
       'Goldenberg', 'Morley', 'Cacic', 'Renouf', 'Stanley', 'Svensson',
       'Quick', 'Daly', 'Coleff', 'Hocking', 'Crosby', 'Beane', 'Thayer',
       'Duff Gordon', 'Chapman', 'Herman', 'Yasbeck', 'Hansen', 'Jensen',
       'Taylor', 'Dick', 'Lam', 'Saad', 'Chambers', 'Moor', 'Carlsson',
       'Johnston', 'Mallet'], dtype=object)

**10. Encuentra los apellidos que se repiten en la columna recien creada**

In [107]:
repeated_last_names = df['last name'].value_counts()[df['last name'].value_counts() > 1]
repeated_last_names

last name
Andersson    9
Sage         7
Panula       6
Skoog        6
Carter       6
            ..
Hocking      2
Kantor       2
Petroff      2
Johnston     2
Dean         2
Name: count, Length: 133, dtype: int64

**11. Imprime los primeros 10 pasajeros que tengan un PassengerID multiplo de 3**

In [108]:
df[df['PassengerId'] % 3 == 0]

ValueError: cannot reindex on an axis with duplicate labels

**12. ¿Cuales son los apellidos de los pasajeros que son mujeres y menores de 20 años?**

In [109]:
df[(df['Age'] < 20) & (df['Sex'] == 'female')]['last name'].unique()

array(['Nasser', 'Sandstrom', 'Vestrom', 'McGowan', 'Palsson',
       'Vander Planke', 'Nicola-Yarred', 'Laroche', 'Devaney',
       'Arnold-Franchi', 'West', 'Andersson', 'Goodwin', 'Ilett',
       'Zabour', 'Attalah', 'Newsom', 'Ford', 'Gilnagh', 'Johnson',
       'Kink-Heilmann', 'Andersen-Jensen', 'Strom', 'Carr', 'Asplund',
       'Collyer', 'Bishop', 'Allison', 'Penasco y Castellana', 'Ryerson',
       'Hippach', 'Nakid', 'Lehmann', 'Silven', 'Van Impe', 'Phillips',
       'Carter', 'Mellinger', 'Baclini', 'Hirvonen', 'Maioni', 'Quick',
       'Hart', 'Beane', 'Taussig', 'Becker', 'Skoog', 'Doling', 'Hegarty',
       'Turja', 'Madill', 'Karun', 'Astor', 'Barbara', 'Harper', 'Wells',
       'Emanuel', 'Ayoub', 'Dick', 'Sjoblom', 'Pettersson', 'Yasbeck',
       'Boulos', 'Lines', 'Aks', 'Najib', 'Graham'], dtype=object)

**12. ¿Cuales son los apellidos de los pasajeros que son hombres y mayor de 45 años?**

In [110]:
df[(df['Age'] > 20) & (df['Sex'] == 'male')]['last name'].unique()

array(['Braund', 'Allen', 'McCarthy', 'Andersson', 'Fynney', 'Beesley',
       'Sloper', 'Uruchurtu', 'Wheadon', 'Meyer', 'Holverson', 'Cann',
       'Nosworthy', 'Ostby', 'Novel', 'Sirayanian', 'Harris', 'Kink',
       'Jenkin', 'Hood', 'Chronopoulos', 'Bing', 'Moen', 'Waelens',
       'Sheerlinck', 'Carrau', 'Celotti', 'Christmann', 'Chaffee', 'Dean',
       'Coxon', 'Goldschmidt', 'Greenfield', 'Kantor', 'White',
       'Johansson', 'Gustafsson', 'Mionoff', 'Rekic', 'Porter', 'Barton',
       'Pekoniemi', 'Connors', 'Turpin', 'Baxter', 'Hickman', 'Nasser',
       'Madsen', 'Ekstrom', 'Drazenoic', 'Sobey', 'Richard', 'Futrelle',
       'Giglio', 'Navratil', 'Byles', 'Bateman', 'Meo', 'van Billiard',
       'Williams', 'Corn', 'Cribb', 'Bengtsson', 'Ling', 'Van der hoef',
       'Sivola', 'Smith', 'Hale', 'Leonard', 'Romaine', 'Bourke',
       'Turcin', 'Olsen', 'Vande Walle', 'Johanson', 'Youseff',
       'Backstrom', 'Albimona', 'Blank', 'Ali', 'Perkin', 'Givard',
       'Jacobsohn', 'Bracken', 'Green', 'Hoyt', 'Berglund', 'Lovell',
       'Larsson', 'Sjostedt', 'Leyson', 'Hold', 'Hunt', 'Coleridge',
       'Maenpaa', 'Attalah', 'Minahan', 'Beckwith', 'Carter', 'Stead',
       'Lobb', 'Taussig', 'Harrison', 'Reeves', 'Persson', 'Tornquist',
       'Natsch', 'Duane', 'Olsson', 'Stankovic', 'de Mulder', 'Naidenoff',
       'Hosono', 'Levy', 'Mineff', 'Hanna', 'Abelson', 'Hendekovic',
       'Hart', 'Moraweck', 'Dennis', 'Danoff', 'Nysveen', 'Partner',
       'Graham', 'Pears', 'Dahl', 'Blackwell', 'Collander', 'Sedgwick',
       'Fox', 'Dimic', 'Odahl', 'Arnold-Franchi', 'Vanden Steen', 'Skoog',
       'del Carlo', 'Asim', 'Adahl', 'Harder', 'Ringhini', 'Widener',
       'Tikkanen', 'Jansson', 'McKane', 'Pain', 'Niskanen', 'Adams',
       'Hakkarainen', 'Gale', 'Widegren', 'Birkeland', 'Sundman',
       'Matthews', 'Charters', 'Zimmerman', 'Pickard',
       'Bjornstrom-Steffansson', 'Silvey', 'Fortune', 'Kvillner',
       'Petterson', 'Seward', 'Peuchen', 'West', 'Foreman', 'Goldenberg',
       'Jalsevac', 'Millet', 'Anderson', 'Morley', 'Gee', 'Milling',
       'Goncalves', 'Smart', 'Cacic', 'Renouf', 'Karlsson', 'Rouse',
       'Bishop', 'Kent', 'Somerton', 'Windelov', 'Molson', 'Artagaveytia',
       'Stanley', 'Svensson', 'Lang', 'Daly', 'McGough', 'Coleff',
       'Walker', 'Pavlovic', 'Vovk', 'Farrell', 'Salonen', 'Hocking',
       'Butt', 'Beane', 'Douglas', 'Nicholson', 'Goldsmith', 'Sharp',
       'Leeni', 'Wright', 'Sivic', 'Norman', 'Davies', 'Jonsson', 'Flynn',
       'Jussila', 'Downton', 'Ross', 'Jarvis', 'Frolicher-Stehli',
       'Gilinski', 'Rintamaki', 'Elsbury', 'Chapman', 'Van Impe',
       'Johnson', 'Duff Gordon', 'Torber', 'Homer', 'Lindell', 'Karaic',
       'Daniel', 'Brocklebank', 'Danbom', 'Gavey', 'Yasbeck', 'Kimball',
       'Hansen', 'Bowen', 'Sutton', 'Kirkland', 'Bostandyeff',
       'Barkworth', 'Lundahl', 'Stahelin-Maeglin', 'Leinonen', 'Collyer',
       'Harper', 'Simonius-Blumer', 'Kalvik', 'Eitemiller', 'Newell',
       'Frauenthal', 'Badt', 'Colley', 'Butler', 'Cook', 'Davidson',
       'Mitchell', 'Wilhelms', 'Sawyer', 'Cardeza', 'Hassab', 'Brown',
       'Laroche', 'Dick', 'Saad', 'Weir', 'Kelly', 'Thayer', 'Humblen',
       'Silverthorne', 'Gallagher', 'Calderhead', 'Taylor', 'Greenberg',
       'Gillespie', 'Hodges', 'Chambers', 'Bryhl', 'Berriman',
       'Troupiansky', 'Lesurer', 'Cavendish', 'McNamee', 'Stranden',
       'Crosby', 'Connaghton', 'Vande Velde', 'Jonkoff', 'Carlsson',
       'Theobald', 'Nirva', 'Gronnestad', 'Lievens', 'Jensen', 'Long',
       'Harmer', 'Guggenheim', 'Dantcheff', 'Otter', 'Ibrahim Shawah',
       'Ponesell', 'Hedman', 'Andrews', 'Alexander', 'Lester', 'Slemen',
       'Tomlin', 'Mallet', 'Holm', 'Lulic', 'Reuchlin', 'Augustsson',
       'Pasic', 'Chip', 'Lemberopolous', 'Abbing', 'Markoff', 'Giles',
       'Gill', 'Roebling', 'Balkic', 'Vander Cruyssen', 'Markun',
       'Banfield', 'Sutehall', 'Montvila', 'Behr', 'Dooley'], dtype=object)

**13. Compara si coinciden los apellidos generados en los ejercicios anteriores**

**14. Encuentra los 10 pasajeros que no sobrevivieron más jovenes e imprime cuantos son hombres y cuantos son mujeres**

In [122]:
df_children = df.iloc[df['Age'].sort_values(ascending=True).head(10)]
df_children.groupby('Sex').size()

Sex
female    3
male      7
dtype: int64

**15. En un dataframe muestra 3 pasajeros que sean hombres y 3 que sean mujeres, que hayan sobrevivido y para cada clase de la columna Pclass**

In [127]:
# Step 1: Filter passengers who survived
survived_passengers = df[df['Survived'] == 1]

# Step 2: Group by 'Pclass' and 'Sex', and select 3 males and 3 females for each class
result = survived_passengers.groupby(['Pclass', 'Sex']).head(3)

# Step 3: Sort the result to have a cleaner display (optional)
result = result.sort_values(by=['Pclass', 'Sex'])
result

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare,last name
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,2,1,1,PC 17599,71.2833,Cumings
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,4,1,1,113803,53.1000,Futrelle
11,12,"Bonnell, Miss. Elizabeth",female,58.00,12,1,1,113783,26.5500,Bonnell
23,24,"Sloper, Mr. William Thompson",male,28.00,24,1,1,113788,35.5000,Sloper
55,56,"Woolner, Mr. Hugh",male,NaN,56,1,1,19947,35.5000,Woolner
97,98,"Greenfield, Mr. William Bertram",male,23.00,98,1,1,PC 17759,63.3583,Greenfield
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,10,1,2,237736,30.0708,Nasser
15,16,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,16,1,2,248706,16.0000,Hewlett
43,44,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,44,1,2,SC/Paris 2123,41.5792,Laroche
17,18,"Williams, Mr. Charles Eugene",male,NaN,18,1,2,244373,13.0000,Williams
21,22,"Beesley, Mr. Lawrence",male,34.00,22,1,2,248698,13.0000,Beesley
78,79,"Caldwell, Master. Alden Gates",male,0.83,79,1,2,248738,29.0000,Caldwell
2,3,"Heikkinen, Miss. Laina",female,26.00,3,1,3,STON/O2. 3101282,7.9250,Heikkinen
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,9,1,3,347742,11.1333,Johnson
10,11,"Sandstrom, Miss. Marguerite Rut",female,4.00,11,1,3,PP 9549,16.7000,Sandstrom
36,37,"Mamee, Mr. Hanna",male,NaN,37,1,3,2677,7.2292,Mamee
65,66,"Moubarek, Master. Gerios",male,NaN,66,1,3,2661,15.2458,Moubarek
74,75,"Bing, Mr. Lee",male,32.00,75,1,3,1601,56.4958,Bing

**16. Obtener el tipo de elementos de cada columna y convierte los que sean int64 a int32. Evalua la memoria que consume antes y después de convertir las columnas y comenta la diferencia**

**17. Encuentra a los pasajeros de la clase 1 y 3 entre 20 y 25 años y comprueba si son más hombres o mujeres**

**18. Agrega una nueva columna al daframe que se llame: "Rango edad" y va a catagorizar de la siguiente manera:**
- Niño < 11 años
- Joven <18 años
- Adulto < 50 años
- Mayor >= 50 años

In [128]:
# Step 1: Define a function to categorize age
def categorize_age(age):
    if pd.isna(age):  # Handle missing values
        return "Desconocido"
    elif age < 11:
        return "Niño"
    elif age < 18:
        return "Joven"
    elif age < 50:
        return "Adulto"
    else:
        return "Mayor"

In [129]:
# Step 2: Apply the function to create the new column 'Rango edad'
df['Rango edad'] = df['Age'].apply(categorize_age)
df

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare,last name,Rango edad
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,3,A/5 21171,7.2500,Braund,Adulto
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,2,1,1,PC 17599,71.2833,Cumings,Adulto
2,3,"Heikkinen, Miss. Laina",female,26.0,3,1,3,STON/O2. 3101282,7.9250,Heikkinen,Adulto
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,4,1,1,113803,53.1000,Futrelle,Adulto
4,5,"Allen, Mr. William Henry",male,35.0,5,0,3,373450,8.0500,Allen,Adulto
...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",male,27.0,887,0,2,211536,13.0000,Montvila,Adulto
887,888,"Graham, Miss. Margaret Edith",female,19.0,888,1,1,112053,30.0000,Graham,Adulto
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,889,0,3,W./C. 6607,23.4500,Johnston,Desconocido
889,890,"Behr, Mr. Karl Howell",male,26.0,890,1,1,111369,30.0000,Behr,Adulto
890,891,"Dooley, Mr. Patrick",male,32.0,891,0,3,370376,7.7500,Dooley,Adulto

**19. Encontrar a los pasajeros jovenes y mayores de la clase 2 y 3 que hayan sobrevivido. Imprimir los 10 primeros**

**20. Encuentra la edad promedio de todos los pasajeros y reemmplazala por los NaN en la columna de Age y ejecuta el ejercicio anterior**
- Nota: para identificar un nan utilizaremos np.nan

**21. Cambia a español la columna Sex**

**22. Convierte a mayusculas todas las columnas que los valores sean cadenas**

**23. Agrupa por sexo y rango de edad y encuentra la edad promedio**

**24. Agrupa por sobrevivientes, sexo y encuentra la edad promedio**

**25. Divide la columna name en las siguientes columnas:**
 - Mrs/Miss
 - Apellido
 - Nombre(s)
 
 
Nota: Ignora el resto de información